Source: glsc
Section: devel
Priority: optional
Maintainer: C O S M O S project <cosmosproject15@gmail>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: <http://cosmosproject2015.tistory.com>

Package: glsc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <This program is make glade source file for C langauge & python.>
